/*RED*/

.header{
    background: url(bg-header.png) repeat-y -4px top;
}

.home-blog-comment {
    background: url(bg-comment.png) no-repeat left top;
}

.nivo-caption p {
    background:  url(bg-nivo-caption-title.png) no-repeat top left!important;
}

.sidebar_widget_holder #s input.search-submit-button{
    background:url(searchform-button.png) no-repeat top left;
}

.nivo-caption a:hover {color:#671c1c}

.sub-menu a{
    color: #903838!important;
}

.sub-menu li a:hover{
    color: #671c1c!important;
}